.container {
  --user-icon-size: 30px;
  --bubble-gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--bubble-gap);
}

.itemRight {
  margin-left: auto;
}

.chatBubble {
  position: relative;
  padding: 5px;
  color: var(--background);
  background-color: var(--foreground);
  min-width: 25px;
  width: fit-content;
  white-space: pre-line;
}

.middleChatBubble {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.firstChatBubble {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.lastChatBubble {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.spaceLeft {
  margin-left: calc(var(--user-icon-size) + var(--bubble-gap));
}

.spaceRight {
  margin-right: calc(var(--user-icon-size) + var(--bubble-gap));
}

.arrowUpBefore::before,
.arrowUpAfter::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid var(--foreground);
}

.arrowUpBefore::before {
  position: absolute;
  bottom: 0;
  left: -7px;
}

.arrowUpAfter::after {
  position: absolute;
  bottom: 0;
  right: -7px;
}

.userContainer {
  display: flex;
  width: var(--user-icon-size);
  height: var(--user-icon-size);
  color: var(--background);
  background-color: var(--foreground);
  font-weight: 900;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
