.chatBox {
  --border-color: var(--foreground);
  position: relative;
  display: flex;
  width: 100%;
  border-radius: 5px;
  border: 3px solid var(--border-color);
  flex-direction: column;
}

.flash {
  animation: flash 1s infinite;
}

@keyframes flash {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

.titleContainer {
  display: flex;
  padding: 10px;
  border-bottom: 3px solid var(--border-color);
  justify-content: space-between;
  align-items: center;
}

.emptyChat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.chatContainer {
  display: flex;
  padding: 10px;
  overflow-y: scroll;
  flex: 1;
  flex-direction: column;
  gap: 5px;
}

.inputContainer {
  position: relative;
  display: flex;
  padding: 10px;
  background-color: var(--foreground);
}

.bottomButton {
  position: absolute;
  width: 50px;
  height: 50px;
  top: -100%;
  right: 25px;
  border-radius: 100%;
  opacity: 0;
  transition: opacity 400ms;
}

.bottomButton.show {
  opacity: 0.9;
}
