.container {
  --container-height: 40px;
  display: flex;
  width: 100%;
  min-height: var(--container-height);
  align-items: flex-end;
}

.chatInputContainer {
  position: relative;
  width: 87%;
  margin-right: 3%;
}

.chatInput {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--background);
}

.chatInputPlaceholder {
  position: absolute;
  top: 25%;
  left: 10px;
  pointer-events: none;
}

.sendButton {
  width: 10%;
  height: var(--container-height);
  background-color: var(--background);
  color: var(--foreground);
}
