.main {
  display: flex;
  height: 100dvh;
  padding: 10px;
  flex-direction: column;
}

.titleContainer {
  display: flex;
  height: 10%;
  align-items: center;
}

.chatBoxes {
  display: flex;
  width: 100%;
  height: 90%;
  flex: 1;
}

.chatBox {
  width: 49.7%;
}

.chatBoxLeft {
  margin-right: 0.3%;
}

.chatBoxRight {
  margin-left: 0.3%;
}

@media screen and (max-width: 1024px) {
  .chatBoxes {
    flex-direction: column;
  }

  .chatBox {
    width: 100%;
  }

  .chatBox {
    height: 49.7%;
  }

  .chatBoxLeft {
    margin-right: 0;
    margin-bottom: 0.3%;
  }

  .chatBoxRight {
    margin-left: 0;
    margin-top: 0.3%;
  }
}
